html {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.card {
  width: 230px;
  box-shadow: 10px 10px 20px black;
  margin: 0 auto;
  border: 1px solid gray;
}

.titulo {
  background: gray;
  font-size: 1.5rem;
  color: white;
  padding: 4px;
  text-align: center;
}
.body {
  font-style: italic;
  padding: 8px;
  text-align: justify;
}
.foot {
  background: lightgray;
  color: black;
  text-align: center;
  padding: 8px;
}
